.phone-link {
  position: relative;
    left: 18px;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    color: $hoverTextColor;
    transition: color 0.3s ease-in-out;
    &::before {
      position: absolute;
      left: -17px;
      content: '';
      width: 17px;
      height: 17px;
      mask-image: url('../img/sprite.svg#sprite--phone');
      background-color: currentColor;
    }

    &:hover {
      color: $focusMenuBg;
    }
    &:focus:not(:active) {
      color: $hoverTextColor;
    }
    &:active {
      color: $activeTextColor;
    }

}
