.search-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 30px;
  &__fieldset {
    display: flex;
    padding: 0;
    border: none;
  }
  &__input{
    background-color: $backgroundDark;
    border: none;
    border-bottom: 1px solid $mainBackground;
    &::placeholder{
      font-family:TTFirsNeue, Helvetica, sans-serif ;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      color: $mainBackground;
    }
  }
}
