.header{
  position: relative;
  z-index: z(header);
  padding-top: 24px;
  padding-bottom: 19px;
  background-color: $backgroundDark;
  &__container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__search-form{
    position: absolute;
    right: 0;
    top: 4px;
    z-index: z(search-form);
  }

  &__search-btn{
    padding: 0;
    padding-left: 8px;
  }
}
