<nav class="nav @@class2">
  <ul class="nav__list" aria-label="@@aria-label">
    <li class="nav__item">
      <a href="#about" class="nav__link">
      О&nbsp;студии

    </a>
    </li>
    <li class="nav__item">
      <a href="#projects" class="nav__link">
      Наши&nbsp;проекты

    </a>
    </li>
    <li class="nav__item">
      <a href="#services" class="nav__link">
      Услуги

    </a>
    </li>
    <li class="nav__item">
      <a href="#masterclass" class="nav__link">
      Мастер-классы

    </a>
    </li>
    <li class="nav__item">
      <a href="#contacts" class="nav__link">
      Контакты
    </a>
    </li>
  </ul>
  <div class="nav__phone d-none">
    @@include("../bem-blocks/_phone-link.html",{
      "href":"+749542423532",
      "text":"+7 495 424-23-532"
    })
  </div>
</nav>
